{% extends "bookkeeping/layout.html" %} 
{% block body %}
<div class="customers">
<h1>Customers Management</h1>
<div class="form">
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if success %}
  <div class="alert alert-success">{{ success }}</div>
{% endif %}
      <form
      action=""
      method="POST"
    >
      {% csrf_token %}

      <div class="form-group mt-2">
        <label>Full Name:</label>
        <input type="text" id="name" name="name" placeholder="Username" />
      </div>

        <div class="form-group mt-2">
        <label>Email:</label>
        <input type="text" id="email" name="email" placeholder="Email" />
      </div>

        <div class="form-group mt-2">
        <label>Phone Number:</label>
        <input type="tel" id="phoneNo" name="phoneNo" placeholder="Phone Number" />
      </div>

        <div class="form-group mt-2">
        <label>Estate Name:</label>
        <input type="text" id="estate" name="estate" placeholder="Username" />
      </div>

        <div class="form-group mt-2">
        <label>Plot No:</label>
        <input type="number" id="plot" name="plot"/>
      </div>

      <button type="submit">{% if post %}Edits{% else %}Post{% endif %}</button>
    </form>
</div>

<div class="customersList">
  <h2>Customer List</h2>
  {% for customer in customers %}
    <h2>{{ customer.name }}</h2>
    <li> {{ customer.email }} </li>
    <li>{{ customer.phone_no }}</li>
    <li>{{customer.estate}}</li>
    <li>{{customer.plot_no}}</li>
<a href="{% url 'customer_delete' customer.id %}" class="btn btn-outline-primary">Delete</a>
<a href="#" class="btn btn-outline-primary">Edit</a>


  {% empty %}
    <p>No customers found.</p>
  {% endfor %}
</div>
</div>
{% endblock %}