{% extends "bookkeeping/layout.html" %} 
{% block body %}
<div class="customers">
<h1>Customers Management</h1>
<div class="form-container">
  {% if error %}
  <div class="alert alert-danger">{{ error }}</div>
{% endif %}
{% if success %}
  <div class="alert alert-success">{{ success }}</div>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}

  <div class="form-group mt-2">
    <label>Full Name:</label>
    <input type="text" id="name" name="name" placeholder="Full Name"
           value="{{ post.name|default:'' }}" />
  </div>

  <div class="form-group mt-2">
    <label>Email:</label>
    <input type="text" id="email" name="email" placeholder="Email"
           value="{{ post.email|default:'' }}" />
  </div>

  <div class="form-group mt-2">
    <label>Phone Number:</label>
    <input type="tel" id="phoneNo" name="phoneNo" placeholder="Phone Number"
           value="{{ post.phone_no|default:'' }}" />
  </div>

  <div class="form-group mt-2">
    <label>Estate Name:</label>
    <input type="text" id="estate" name="estate" placeholder="Estate"
           value="{{ post.estate|default:'' }}" />
  </div>

  <div class="form-group mt-2">
    <label>Plot No:</label>
    <input type="number" id="plot" name="plot" placeholder="Plot Number"
           value="{{ post.plot_no|default:'' }}" />
  </div>

  <button type="submit" class="btn submit-btn">
    {% if post %}Update{% else %}Add{% endif %}
  </button>
</form>
</div>

<h2 class="customer-list">Customer List</h2>

{% if customers %}
<div class="nameList">
  <div class="customersList row">
    
    <!-- Sidebar List of Customer Names -->
    <div class="names col-3" style="max-height: 500px; overflow-y: auto;">
      <ul>
        {% for customer in customers %}
          <li id="customer-{{ customer.id }}">
    <a class="customer-name"
       data-id="{{ customer.id }}"
       {% if forloop.first %}data-default="true"{% endif %}>
       {{ customer.name|title }}
    </a>
          </li>
        {% endfor %}
      </ul>
    </div>
<div class="details col-6" id="customer-details">
  <h2 id="names"></h2>
  <ul>
    <li>Email: <span id="emails"></span></li>
    <li>Phone: <span id="phones"></span></li>
    <li>Estate: <span id="estates"></span></li>
    <li>Plot No: <span id="plots"></span></li>
  </ul>

  <div id="action-buttons" style="display: none;">
    <a id="edit-btn" href="#" class="btn btn-outline-primary">Edit</a>
    <a id="delete-btn" href="#" class="btn btn-outline-primary">Delete</a>
  </div>
</div>


  </div>
</div>
{% else %}
<p>"There are currently no names to display."</p>
{% endif %}
</div>


 
{% endblock %}