{% extends "bookkeeping/layout.html" %} 
{% block body %}
<h1>Generate Invoice</h1>
<div class="names">
  <label for="service" class="form-label">Select Name:</label>
  <select name="service" id="service" class="form-select" {% if not services %}disabled{% endif %}>
    {% if services %}
      <option value="" selected disabled>Select a Name</option>
      {% for name in services %}
        <option value="{% if name.service_type == 'normal' %}{{ name.customer_name_backup }}{% else %}{{ name.client_name }}{% endif %}" 
        data-type="{{ name.service_type }}">
          {% if name.service_type == "normal" %}
            {{ name.customer_name_backup|title }}
          {% else %}
            {{ name.client_name|title }}
          {% endif %}
        </option>
      {% endfor %}
    {% else %}
      <option value="">No unbilled services available</option>
    {% endif %}
  </select>
</div>
<div class="services_available" style="display: none;">
 <form method="POST" action="{% url 'create_invoice' %}">
  {% csrf_token %}
  
  <label>
    <input type="checkbox" id="select-all-services"> Select All
  </label>

  <select name="selected_services" id="service-list" multiple class="form-select">
    <!-- Options will be added by JavaScript -->
  </select>

  <button type="submit">Submit Selected Services</button>
</form>

</div>


<div class="invoices_available">
  {% if invoices %}
     <table class="bids-table">
      <thead>
        <tr>
          <th>Invoice No</th>
          <th>Name</th>
          <th>Date</th>
          <th>Total amount</th>
          <th>Actions</th>
        </tr>
      </thead>
    <tbody>
  {% for invoice in invoices %}
  <tr>
    <td>{{ invoice.invoice_number }}</td>
    {% with invoice.services.all as services %}
      {% if services|length > 0 and services.0.service_type == "special" %}
        <td>{{ invoice.client_name }}</td>
      {% else %}
        <td>{{ invoice.customer.name }}</td>
      {% endif %}
    {% endwith %}
    <td>{{ invoice.date_issued }}</td>
    <td>{{ invoice.total_amount }}</td>
    <td>
    <div class="d-flex gap-2">
  <a  href="{% url 'invoice_display' invoice.id %}?download=true" class="btn btn-sm btn-success">
    <i class="bi bi-download"></i> Download
  </a>
  <a href="{% url 'invoice_display' invoice.id %}" class="btn btn-sm btn-outline-primary">
    <i class="bi bi-eye"></i> View
  </a>

<a href="#" class="btn btn-sm btn-danger delete-invoice-btn" data-id="{{ invoice.id }}">
  <i class="bi bi-trash"></i> 
</a>


</div>

    </td>
  </tr>
  {% endfor %}
</tbody>

     {% else %} 
     <p>No invoice Available</p>
     {% endif %}
     
</div>
{% endblock %}