{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>{% block title %}Digital Bookkeeping{% endblock %}</title>
    <link href="{% static 'bookkeeping/styles.css' %}" rel="stylesheet" />

</head>
<body>
     <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="left">
            <div class="links">
         <ul>
            <li>Hello</li>
            <li>hy</li>
            <li>how </li>
            <li>who</li>
            <li>when</li>
            <li>yes</li>
         </ul>
         </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="right">
         {% block body %} {% endblock %}
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>